body {
	background-color: black;
	background-image: url(images/bg3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	text-shadow: 1px 1px 2px black;
	font-family: 'Roboto', sans-serif;
	color: white;
}

h1 {
	font-size: 65px;
	padding-top: 50px;
}

h2 {
	font-size: 25px;
	padding-top: 10px;
}

p {
	font-size: 20px;
	padding: 0 10% 0 10%;
}

a {
	color: rgba(120, 4, 37, 0.2);
}

.botao {
	text-decoration: none;
	background-color: rgba(120, 4, 37, 0.2);
	color: white;
	font-size: 20px;
	padding: 10px 15px 10px 15px;
	border-radius: 4px;
	margin-top: 50px;
}
.botao:hover {
	text-decoration: none;
	background-color: white;
	color: rgba(120, 4, 37, 0.2);
}

.lista {
	list-style: none;
	padding-left: 0;
	margin-top: 150px;

}

.lista li {
	display: inline;
}

.lista a {
	color: white;
	font-size: 25px;
}