body {
	background-color: black;
	background-image: url(images/bg_lp.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	text-shadow: 1px 1px 2px black;
	font-family: 'Roboto', sans-serif;
	color: white;
}

h1 {
	font-size: 65px;
	padding-top: 50px;
}

h2 {
	font-size: 25px;
	padding-top: 10px;
}

p {
	font-size: 16px;
	padding: 0 10% 0 10%;
}

a {
	color: rgba(120, 4, 37, 0.2);
}

.botao {
	padding: 5% 0 0 0;
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	font-size: 12px;
	padding: 10px 15px 10px 15px;
	border-radius: 4px;
}

.botao:hover {
	text-decoration: none;
	background-color: white;
	color: rgba(0, 0, 0, 0.2);
}


.lista_botao {
	padding: 5% 0 0 0;
	list-style: none;
	padding-left: 0;
}

.lista_botao li {
	display: inline;
}

.lista_botao a {
	text-decoration: none;
	color: white;
	font-size: 12px;
}


.lista_social {
	padding: 5% 0 0 0;
	list-style: none;
	padding-left: 0;
}

.lista_social li {
	display: inline;
}

.lista_social a {
	text-decoration: none;
	color: white;
	font-size: 25px;
}